@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap');

@tailwind components;

@tailwind utilities;

@layer utilities {

  .slider--videos span a i,
  .video--content a i {
    padding-left: 5px;
  }

  .team-bio {
    @apply mt-1 bg-black p-2 text-gray-400;
  }

  .project--content .right-button {
    position: absolute;
    height: 55px;
    width: 55px;
    font-size: 20px;
    background: #ef6330;
    border: 1px solid transparent;
    cursor: pointer;
    color: #ffffff;
    right: -20px;
    bottom: -20px;
    padding-top: 11px;
  }

  .laurels img {
    border: white 1px solid;
  }

  .hwfilm-font {
    font-family: 'Newsreader', serif;
    font-weight: 200;
  }

  .festival-list img {
    align-self: center;
  }
}