@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

@tailwind components;

@tailwind utilities;

@layer components {

  .slider--videos span a i,
  .video--content a i {
    padding-left: 5px;
  }

  .team-bio {
    @apply mt-1 bg-black p-2 text-gray-400;
  }

  .project--content .right-button {
    position: absolute;
    height: 55px;
    width: 55px;
    font-size: 20px;
    background: #ef6330;
    border: 1px solid transparent;
    cursor: pointer;
    color: #ffffff;
    right: -20px;
    bottom: -20px;
    padding-top: 11px;
  }

  .laurels img {
    border: white 1px solid;
  }

  .hwfilm-font {
    font-family: 'Newsreader', serif;
    font-weight: 200;
  }

  .imfine-font {
    font-family: 'Caveat', cursive;
    font-weight: 400;
  }

  .imfine-font.heavy {
    font-weight: 700;
  }


  .festival-list img {
    align-self: center;
  }

  .navbar--main nav {
    @apply mr-16;
  }

  .navbar--main nav ul li a {
    @apply text-2xl;
  }

  .read--more--plain {
    font-size: 15px;
    font-weight: 700;
    color: #6a6a6a;
    letter-spacing: 0.1em;
    font-family: 'Bebas Neue';
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
  }

  .feature--wrapper:hover svg {
    @apply filter invert;
  }

  .form--input--icon {
    position: absolute;
    left: 40px;
    top: 24px;
  }

  .form-box.form-box-error-border input,
  .form-box.form-box-error-border textarea {
    @apply bg-yellow-50;
  }

  .form-box-error-message {
    @apply text-red-600 italic font-serif;
  }

  .navbar--main nav ul li:hover ul.submenu {
    @apply w-72;
  }

  .post a {
    @apply text-orange-600 hover:text-orange-900 hover:underline;
  }

  .post ul {
    @apply ml-8 text-lg;
  }

  .post ul li {
    @apply list-disc mb-2;
  }

  .post p {
    @apply leading-8;
  }
}