<!-- Contact Us -->
<section class="contacts contacts--bg footer--border t-py-12">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="contacts--logo t-mb-8">
          <img src="/img/logo/tf-logo-small.png" alt="">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="contacts--address">
          <ul>
            <li>
              <i class="fas fa-phone"></i>
              <a href="tel:+14042273030">+1 404.227.3030</a>
            </li>
            <li>
              <i class="fas fa-envelope-open"></i>
              <a href="mailto:info@twainfilms.com?Subject=Film Information">info@twainfilms.com</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
   
  </div>
</section>
<!-- Contact Us End -->