<!-- Projects -->
<section class="project pt-16 pb-16">
  <div class="container">
    <a name="films"></a>
    <div class="row">
      <div class="col-sm-12 mb-50">
        <h1 class="section-title">
          <span class="theme-color fw-700 text-uppercase">our films</span>
        </h1>
      </div>
    </div>
    <div class="row project-active mx-16">
      <div class="col-lg-4 col-xl-3 mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="https://vimeo.com/458369060"><img src="/img/imfine/temp-poster.jpg" alt="Don't Worry, I'm Fine"></a>
            <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://vimeo.com/458369060" tabindex="0">
                  <i class="fas fa-play"></i>Watch Teaser</a>
              </span>
            </div>
          </div>
          <div class="project--content">
            <h4>
              <a href="https://vimeo.com/458369060">Don't Worry, I'm Fine (coming soon)</a>
            </h4>
            <p class="fw-600">Feature-Length Documentary</p>
            <a href="/imfine" class="right-button">
              <i class="fal fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="https://www.youtube.com/watch?v=SjR24_UOOzE"><img src="/img/hwfilm/poster-festivals.jpg" alt="Hello World"></a>
            <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://www.youtube.com/watch?v=SjR24_UOOzE" tabindex="0">
                  <i class="fas fa-play"></i>Watch Trailer</a>
              </span>
            </div>
          </div>
          <div class="project--content">
            <h4>
              <a href="https://www.youtube.com/watch?v=SjR24_UOOzE">Hello World: The Film (2020)</a>
            </h4>
            <p class="fw-600">Feature-Length Documentary</p>
            <a href="/hwfilm" class="right-button">
              <i class="fal fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xl-3 mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="https://www.youtube.com/watch?v=ZrgTKrQCeH8"><img src="/img/films/drawntothehub.jpg" alt="Hello World"></a>
            <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://www.youtube.com/watch?v=ZrgTKrQCeH8" tabindex="0">
                  <i class="fas fa-play"></i>Watch</a>
              </span>
            </div>
          </div>
          <div class="project--content">
            <h4>
              <a href="https://www.youtube.com/watch?v=ZrgTKrQCeH8">Drawn to the Hub (2017)</a>
            </h4>
            <p class="fw-600">Short Film</p>
            <a href="https://www.youtube.com/watch?v=ZrgTKrQCeH8" class="right-button popup-video">
              <i class="fal fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xl-3 mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="https://www.youtube.com/watch?v=wMM5orwmqgg"><img src="/img/films/pennie-poster.jpg" alt="Pennie"></a>
            <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://www.youtube.com/watch?v=wMM5orwmqgg" tabindex="0">
                  <i class="fas fa-play"></i>Watch</a>
              </span>
            </div>
          </div>
          <div class="project--content">
            <h4>
              <a href="https://www.youtube.com/watch?v=wMM5orwmqgg">Pennie (2017)</a>
            </h4>
            <p class="fw-600">Short Film</p>
            <a href="https://www.youtube.com/watch?v=wMM5orwmqgg" class="right-button popup-video">
              <i class="fal fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xl-3 mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="https://www.youtube.com/watch?v=Vtz8KZTpT30"><img src="/img/films/onedate-poster.jpg" alt="One Date, Two Stories"></a>
            <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://www.youtube.com/watch?v=Vtz8KZTpT30" tabindex="0">
                  <i class="fas fa-play"></i>Watch</a>
              </span>
            </div>
          </div>
          <div class="project--content">
            <h4>
              <a href="https://www.youtube.com/watch?v=Vtz8KZTpT30">One Date, Two Stories (2016)</a>
            </h4>
            <p class="fw-600">Short Film</p>
            <a href="https://www.youtube.com/watch?v=Vtz8KZTpT30" class="right-button popup-video">
              <i class="fal fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Projects end -->