<!-- Projects -->
<section class="project pt-125 pb-90">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mb-50">
        <h1 class="section-title">
          <span class="theme-color fw-700 text-uppercase">our films</span>
        </h1>
      </div>
    </div>
    <div class="row project-active">
      <div class="col-lg-6 mb-40">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="project-details.html"><img src="/img/hwfilm/poster-festivals.jpg" alt="Hello World"></a>
            <div class="slider--videos">
              <span><a class="popup-video" href="https://www.youtube.com/watch?v=SjR24_UOOzE" tabindex="0">
                <i class="fas fa-play"></i>Watch Trailer</a>
              </span>
            </div>
          </div>
          <div class="project--content">
            <h4>
              <a href="project-details.html">Hello World: The Film</a>
            </h4>
            <p class="fw-600">2020 Film Release</p>
            <a href="/hwfilm" class="right-button"><i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-40">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="project-details.html"><img src="/img/imfine/temp-poster.jpg" alt="Don't Worry, I'm Fine"></a>
            <div class="slider--videos">
              <span><a class="popup-video" href="https://vimeo.com/458369060" tabindex="0">
                  <i class="fas fa-play"></i>Watch Teaser</a>
              </span>
            </div>
          </div>
          <div class="project--content">
            <h4>
              <a href="project-details.html">Don't Worry, I'm FIne</a>
            </h4>
            <p class="fw-600">In Production</p>
            <a href="/imfine" class="right-button"><i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Projects end -->