<!-- Projects -->
<section class="project t-pt-16 t-pb-16">
  <a name="films"></a>
  <div class="container">
    <a name="films"></a>
    <div class="row">
      <div class="col-sm-12 mb-50">
        <h1 class="section-title">
          <span class="theme-color fw-700 text-uppercase">our films</span>
        </h1>
      </div>
    </div>
    <div class="row project-active mx-16">
      <div class="col-lg-4 col-xl-3 t-mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            {# <a href="https://vimeo.com/458369060"> #}
            <img src="/img/questforfaith/poster-sm.jpg" alt="The Quest for Faith">
            {#</a> #}
            {# <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://www.youtube.com/watch?v=SY_w-0ftJA4" tabindex="0">
                  <i class="fas fa-play"></i>Watch Trailer</a>
              </span>
            </div> #}
          </div>
          <div class="project--content t-min-h-[12rem]">
            <h4>
              {# <a href="https://vimeo.com/458369060"> #}
              The Quest for Faith (Pre-Production)
              {# </a> #}</h4>
            <p class="fw-600">Feature-Length Documentary</p>
            <a href="/questforfaith" class="right-button">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 t-mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="https://vimeo.com/458369060"><img src="/img/manenough/poster.jpg" alt="Man Enough to Heal"></a>
            <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://www.youtube.com/watch?v=SY_w-0ftJA4" tabindex="0">
                  <i class="fas fa-play"></i>Watch Trailer</a>
              </span>
            </div>
          </div>
          <div class="project--content t-min-h-[12rem]">
            <h4>
              <a href="https://vimeo.com/458369060">Man Enough to Heal (coming soon)</a>
            </h4>
            <p class="fw-600">Feature-Length Documentary</p>
            <a href="/manenough" class="right-button">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="https://vimeo.com/751138258">
              <img src="/img/pushingpaper/pushingpaper-poster-sm.jpg" alt="Pushing Paper">
            </a>
            <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://vimeo.com/751138258" tabindex="0">
                  <i class="fas fa-play"></i>Watch Now
                  </a>
              </span>
            </div>
          </div>
          <div class="project--content t-min-h-[12rem]">
            <h4>
              <a href="https://vimeo.com/751138258">
              Pushing Paper (2022)<br/>
              </a>
            </h4>
            <p class="fw-600">Documentary Short</p>
            <a href="/pushingpaper" class="right-button">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3 mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="https://www.youtube.com/watch?v=SjR24_UOOzE"><img src="/img/hwfilm/poster-festivals.jpg" alt="Hello World"></a>
            <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://www.youtube.com/watch?v=SjR24_UOOzE" tabindex="0">
                  <i class="fas fa-play"></i>Watch Trailer</a>
              </span>
            </div>
          </div>
          <div class="project--content t-min-h-[12rem]">
            <h4>
              <a href="https://www.youtube.com/watch?v=SjR24_UOOzE">Hello World: The Film (2020)</a>
            </h4>
            <p class="fw-600">Feature-Length Documentary</p>
            <a href="/hwfilm" class="right-button">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xl-3 mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="https://www.youtube.com/watch?v=ZrgTKrQCeH8"><img src="/img/films/drawntothehub.jpg" alt="Hello World"></a>
            <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://www.youtube.com/watch?v=ZrgTKrQCeH8" tabindex="0">
                  <i class="fas fa-play"></i>Watch</a>
              </span>
            </div>
          </div>
          <div class="project--content t-min-h-[12rem]">
            <h4>
              <a href="https://www.youtube.com/watch?v=ZrgTKrQCeH8">Drawn to the Hub (2017)</a>
            </h4>
            <p class="fw-600">Documentary Short</p>
            <a href="https://www.youtube.com/watch?v=ZrgTKrQCeH8" class="right-button popup-video">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xl-3 mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="https://www.youtube.com/watch?v=wMM5orwmqgg"><img src="/img/films/pennie-poster.jpg" alt="Pennie"></a>
            <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://www.youtube.com/watch?v=wMM5orwmqgg" tabindex="0">
                  <i class="fas fa-play"></i>Watch</a>
              </span>
            </div>
          </div>
          <div class="project--content t-min-h-[12rem]">
            <h4>
              <a href="https://www.youtube.com/watch?v=wMM5orwmqgg">Pennie (2017)</a>
            </h4>
            <p class="fw-600">Documentary Short</p>
            <a href="https://www.youtube.com/watch?v=wMM5orwmqgg" class="right-button popup-video">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xl-3 mb-16">
        <div class="project--block">
          <div class="project--thumb position-relative fix">
            <a href="https://www.youtube.com/watch?v=Vtz8KZTpT30"><img src="/img/films/onedate-poster.jpg" alt="One Date, Two Stories"></a>
            <div class="slider--videos">
              <span>
                <a class="popup-video" href="https://www.youtube.com/watch?v=Vtz8KZTpT30" tabindex="0">
                  <i class="fas fa-play"></i>Watch</a>
              </span>
            </div>
          </div>
          <div class="project--content t-min-h-[12rem]">
            <h4>
              <a href="https://www.youtube.com/watch?v=Vtz8KZTpT30">One Date, Two Stories (2016)</a>
            </h4>
            <p class="fw-600">Documentary Short</p>
            <a href="https://www.youtube.com/watch?v=Vtz8KZTpT30" class="right-button popup-video">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- Projects end -->