<!-- Slider -->
<section class="slider fix">
  <div class="slider--box">
    <div class="slider-active">
      <div class="single-slider slider--bg slider--height slider--padding" data-background="/img/home-hero.jpg">
        <div class="slider--text" data-animation="fadeInRight" data-delay=".6s">
          <span class="pos paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15" data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground" data-paroller-direction="horizontal">Documentary <br> Films</span>
        </div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <div class="slider--caption">
                <div class="slider--text">
                  <h4 class="theme-color" data-animation="fadeInUp" data-delay=".6s">Twain Films</h4>
                  <h2 class="white-color" data-animation="fadeInUp" data-delay=".7s">documentary</h2>
                  <span data-animation="fadeInUp" data-delay=".8s">films</span>
                </div>
                <div class="slider--videos" data-animation="fadeInRight" data-delay=".6s">
                  <span>
                    <a class="popup-video text-3xl" href="https://www.youtube.com/watch?v=SjR24_UOOzE">
                      <i class="fas fa-play translate -translate-y-1" data-fa-transform="up-2"></i> Hello World Trailer</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>