<!-- Newsletters -->
<section class="newsletter bg-black pb-130 pt-125 fix" data-background="assets/img/bg/newsletter--map.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <form action="#" class="newsletter--content text-center">
          <span class="text-uppercase fw-700 white-color">get updates</span>
          <h2 class="white-color mb-25">subscribe to our newsletter</h2>
          <p>This list will only be used to let you know about updates and special offers about our films.</p>
          <div class="newsletter--input">
            <input type="text" placeholder="Enter Your  Email">
            <button class="btn btn--theme btn--line">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Newsletters End -->