<!-- Team -->
<section class="team pt-125 pb-100" data-background="/img/team/team-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mb-55">
        <div class="section-title">
          <span class="theme-color fw-700 text-uppercase">our team</span>
          <h2 class="text-gray-100">Meet the Filmmakers</h2>
        </div>
      </div>
    </div>
    <div class="row team-active">
      <div class="col-lg-4 mb-30">
        <div class="team--block position-relative">
          <div class="team--thumb">
            <img src="/img/team/shawn-wildermuth-front.jpg" alt="Shawn Wildermuth">
          </div>
          <div class="team--content d-flex align-items-center justify-content-between">
            <div class="team--info">
              <h5 class="white-color">Shawn Wildermuth</h5>
              <span class="fw-600 white-color text-uppercase">filmmaker</span>
            </div>
            <div class="team--social">
              <ul>
                <li>
                  <a href="https://www.imdb.com/title/tt11590582/">
                    <i class="fab fa-imdb"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/shawnwildermuth">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-30">
        <div class="team--block position-relative">
          <div class="team--thumb">
            <img src="/img/team/randy-hill-front.jpg" alt="Randy Hill">
          </div>
          <div class="team--content d-flex align-items-center justify-content-between">
            <div class="team--info">
              <h5 class="white-color">Randy Hill</h5>
              <span class="fw-600 white-color text-uppercase">editor</span>
            </div>
            <div class="team--social">
              <ul>
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-30">
        <div class="team--block position-relative">
          <div class="team--thumb">
            <img src="/img/team/peggy-johnson-front.jpg" alt="Peggy Still Johnson">
          </div>
          <div class="team--content d-flex align-items-center justify-content-between">
            <div class="team--info">
              <h5 class="white-color">Peggy Still Johnson</h5>
              <span class="fw-600 white-color text-uppercase">composer</span>
            </div>
            <div class="team--social">
              <ul>
                <li>
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team End -->