<!-- Contact Us -->
<section class="contacts contacts--bg footer--border pt-80 pb-50">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4">
        <div class="contacts--logo mb-30">
          <img src="/img/logo/logo-big.png" alt="">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="contacts--address">
          <ul>
            <li>
              <i class="fas fa-phone"></i>+013 (456) 7899</li>
            <li>
              <i class="fas fa-envelope"></i>support@gmail.com</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Us End -->