<!-- Footer  -->
<footer class="footer footer--bg footer--border pt-80" data-background="/img/bg/footer-bg.jpg" data-overlay="black-oil" data-opacity="85">
  <div class="footer--top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-30">
          <div class="footer--widget">
            <div class="footer--logo">
              <img class="mb-30" src="/img/logo/logo.png" alt="">
              <p>Sed ut perspiciatis unde omnis
                                iste natus error sit volupta cusan
                                doloremque laudantium</p>
            </div>
            <div class="footer--address">
              <ul>
                <li>
                  <i class="fal fa-map-marked-alt"></i>205 New South East Road, New York</li>
                <li>
                  <i class="fal fa-envelope-open"></i>support@gmail.com</li>
                <li>
                  <i class="fal fa-phone"></i>+013 (456) 7899</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 mb-30">
          <div class="footer--widget">
            <div class="footer--title">
              <h4 class="white-color mb-30">Quick Links</h4>
            </div>
            <div class="footer--menu">
              <ul>
                <li>
                  <a href="company-history.html">Company History</a>
                </li>
                <li>
                  <a href="services-01.html">Our Services</a>
                </li>
                <li>
                  <a href="blog-grid.html">Latest News</a>
                </li>
                <li>
                  <a href="team.html">Meet The Directors</a>
                </li>
                <li>
                  <a href="movie-listing-01.html">Latest Movies</a>
                </li>
                <li>
                  <a href="gallery-01.html">Album & Gallery</a>
                </li>
                <li>
                  <a href="contacts.html">Global Brands</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-30">
          <div class="footer--widget">
            <div class="footer--title">
              <h4 class="white-color mb-30">Follow Instagram</h4>
            </div>
            <div class="footer--insta">
              <ul>
                <li><img src="/img/instagram/insta-1.jpg" alt="">
                  <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li><img src="/img/instagram/insta-2.jpg" alt="">
                  <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li><img src="/img/instagram/insta-3.jpg" alt="">
                  <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li><img src="/img/instagram/insta-4.jpg" alt="">
                  <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li><img src="/img/instagram/insta-5.jpg" alt="">
                  <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li><img src="/img/instagram/insta-6.jpg" alt="">
                  <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-30">
          <div class="footer--title">
            <h4 class="white-color mb-30">Newsletters</h4>
          </div>
          <form action="#" class="footer--newsletter">
            <p>Sed ut perspiciatis unde omnis natus error sit volupta</p>
            <div class="footer--input mb-30">
              <input type="text" placeholder="Enter Your Email">
              <button>
                <i class="far fa-long-arrow-right"></i>
              </button>
            </div>
            <div class="footer--social">
              <ul>
                <li>
                  <a href="https://www.facebook.com">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.twitter.com">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.google.com">
                    <i class="fab fa-google"></i>
                  </a>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
      <div class="footer--bottom footer--bottom--border">
        <div class="row">
          <div class="col-xl-5 col-lg-6">
            <div class="footer--copyright">
              <p>&copy; 2016-{{ page.date | format("yyyy") }} <a href="index.html">{{ site.author }}.</a> All Right Reserved.</p>
            </div>
          </div>
          <div class="col-xl-7 col-lg-6 d-none d-md-block">
            <div class="footer--menu--two">
              <ul>
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="about-me.html">About</a>
                </li>
                <li>
                  <a href="project-details-dark.html">project</a>
                </li>
                <li>
                  <a href="services-01.html">Services</a>
                </li>
                <li>
                  <a href="blog-grid.html">Pages</a>
                </li>
                <li>
                  <a href="blog-standard.html">Blog</a>
                </li>
                <li>
                  <a href="contact.html">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer  End -->