<!-- Footer  -->
<footer class="footer footer--bg footer--border t-pt-20" 
        data-background="/img/bg/footer-bg.jpg" 
        data-overlay="black-oil" data-opacity="85">
  <div class="footer--top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 t-mb-8">
          <div class="ml-form-embed" data-account="3448448:w7w7g6u4e3" data-form="5693432:x5k8s8"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 t-mb-30">
          <div class="footer--widget">
            <div>
              <div class="t-mb-30">
                <h3 class="theme-color"><img src="/img/logo/tf-logo-tiny.png" alt="Twain Films"/></h3>
              </div>
              <p>Films for a difference.</p>
            </div>
            <div class="footer--address">
              <ul>
                <li class="t-pt-1">
                  <i class="fas fa-map-marked-alt"></i>249 Josephine St NE<br/>Atlanta, GA 30307</li>
                <li  class="t-pt-1">
                  <i class="fas fa-envelope"></i>info@twainfilms.com</li>
                <li class="t-pt-1">
                  <i class="fas fa-phone"></i>+1 404.227.3030</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 t-mb-30">
          <div class="footer--widget">
            <div class="footer--title">
              <h4 class="white-color t-mb-30">Quick Links</h4>
            </div>
            <div class="footer--menu">
              <ul>
                <li>
                  <a href="/about">About</a>
                </li>
                <li>
                  <a href="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 t-mb-30">
          <div class="footer--title">
            <h4 class="white-color t-mb-30">Follow Us:</h4>
          </div>
          <form action="#" class="footer--newsletter">
            <div class="footer--social">
              <ul>
                <li>
                  <a href="https://www.imdb.com/title/tt11590582/">
                    <i class="fab fa-imdb"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/twainfilms">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
      <div class="footer--bottom footer--bottom--border">
        <div class="row">
          <div class="col-xl-5 col-lg-6">
            <div class="footer--copyright">
              <p>&copy; 2016-{{ page.date | format("yyyy") }}
                <a href="index.html">{{ site.author }}.</a> All Right Reserved.</p>
            </div>
          </div>
          <div class="col-xl-7 col-lg-6 d-none d-md-block">
            <div class="footer--menu--two">
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/about">About</a>
                </li>
                <li>
                  <a href="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer  End -->