<!-- Header -->
<header class="header header--padding header--transparrent">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-3 col-lg-4 col-md-5 col-5">
        <div class="header--left d-flex align-items-center">
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7 d-flex justify-content-end align-items-center col-7">
        <div class="navbar--main">
          <nav id="mobile-menu">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li class="drop">
                <a href="#">Films</a>
                <ul class="submenu">
                  <li>
                    <a href="/hwfilm.html">Hello World: The Film</a>
                  </li>
                  <li>
                    <a href="/imfine.html">Don't Worry, I'm Fine</a>
                  </li>
                </ul>
              </li>
              </li>
              <li>
                <a href="project-details.html">About</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
              {# <li>
                <a class="header--search nav-search search-trigger" href="#">
                  <i class="far fa-search"></i>
                </a>
              </li> #}
            </ul>
          </nav>
        </div>
        <div class="header--right">
          <ul>
            <li>
              <div class="sidebar">
                <a href="#" class="sidebar--burger menu-tigger">
                  <span></span></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="mobile-menu mobile-menu-h4"></div>
      </div>
    </div>
  </div>

  <!-- Sidebar Menu Overlay -->
  <div id="menu-overlay" class="menu-overlay main-menu">
    <div class="menu-close">
      <i class="fal fa-times"></i> Close</div>
    <nav class="primary-nav">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/hwfilm">Last Film: Hello World</a>
        </li>
        <li>
          <a href="/imfine">Next Film: Don't Worry, I'm Fine</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="company-info">
      <a href="#" class="info-email link-underline cursor-link">info@helloworldfilm.com</a><br>
      <a href="#" class="info-tel link-underline cursor-link">(404) 227-3030</a>
      <div class="info-address">
        <addr>249 Josephine St. NE<br/>Atlanta, GA 30307<br/>USA</addr>
      </div>
      <ul class="sm-links">
        <li>
          <a href="#" class="cursor-link">
            <i class="fab fa-imdb"></i>
          </a>
        </li>
        <li>
          <a href="#" class="cursor-link">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="offcanvas-overly"></div>
</header>
<!-- Header End -->