<!-- Header -->
<header class="header header--padding header--transparrent">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-3 col-lg-4 col-md-5 col-5">
        <div class="header--left d-flex align-items-center">
          <div class="header--logo py-6">
            <a href="/"><img src="/img/logo/tf-logo-small.png" alt="Twain Films LLC" 
            class="w-60 md:w-48"/></a>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-7 d-flex justify-content-end align-items-center col-7">
        <div class="navbar--main">
          <nav id="mobile-menu">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li class="drop">
                <a href="#">Films <i class="fas fa-angle-down fa-xs"></i>
                </a>
                <ul class="submenu">
                  <li>
                    <a href="/imfine">Don't Worry, I'm Fine</a>
                  </li>
                  <li>
                    <a href="/hwfilm">Hello World: The Film (2020)</a>
                  </li>
                  <li>
                    <a href="https://youtu.be/ZrgTKrQCeH8">Drawn to the Hub (2017)</a>
                  </li>
                  <li>
                    <a href="https://youtu.be/wMM5orwmqgg">Pennie (2017)</a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/watch?v=Vtz8KZTpT30">One Date, Two Stories (2016)</a>
                  </li>

                  
                </ul>
              </li>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="javascript:;" onclick="ml_account('webforms', '5693432', 'x5k8s8', 'show')">Keep in Touch</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-12">
      <div class="mobile-menu mobile-menu-h4"></div>
    </div>
  </div>
</div>

</header>
<!-- Header End -->