<!-- All External JavaScript Links Here -->
<script src="/lib/vendor/jquery-1.12.4.min.js"></script>
<script src="/lib/popper.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/ajax-form.js"></script>
<script src="/lib/imagesloaded.pkgd.min.js"></script>
<script src="/lib/isotope.pkgd.min.js"></script>
<script src="/lib/jquery.meanmenu.min.js"></script>
<script src="/lib/jquery.counterup.min.js"></script>
<script src="/lib/jquery.waypoints.min.js"></script>
<script src="/lib/jquery.magnific-popup.min.js"></script>
<script src="/lib/owl.carousel.min.js"></script>
<script src="/lib/tilt.jquery.js"></script>
<script src="/lib/bootstrap-datepicker.min.js"></script>
<script src="/lib/jquery.nice-select.min.js"></script>
<script src="/lib/jquery.paroller.min.js"></script>
<script src="/lib/aos.js"></script>
<script src="/lib/slick.min.js"></script>
<script src="/lib/wow.min.js"></script>
<script src="/js/twain.min.js"></script>
<!-- All External JavaScript Links Here End -->