<section class="pt-130 pb-50 t-bg-slate-900 t-text-white">
<div class="container">
<h2 class="t-text-gray-400">Stills</h2>
<div class="t-flex">
  <div class="t-grid t-grid-cols-1 md:t-grid-cols-2 xl:t-grid-cols-3 t-gap-2 t-place-items-center">
    <div class="t-w-full  md:t-col-span-2 md:t-row-span-2">
      <a class="popup-image" href="/img/imfine/gallery/group-1.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/group-1.jpg" alt="Group"/>
      </a>
    </div>
    <div class="t-w-full">
      <a class="popup-image" href="/img/imfine/gallery/shawn-1.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/shawn-1.jpg" alt="Adam"/>
      </a>
    </div>
    <div class="t-w-full">
      <a class="popup-image" href="/img/imfine/gallery/anthony-1.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/anthony-1.jpg" alt="Ted and Tom"/>
      </a>
    </div>
    <div class="t-w-full">
      <a class="popup-image" href="/img/imfine/gallery/bts-5.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/bts-5.jpg" alt="Behind the Scenes"/>
      </a>
    </div>
    <div class="t-w-full">
      <a class="popup-image" href="/img/imfine/gallery/bts-2.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/bts-2.jpg" alt="Behind the Scenes"/>
      </a>
    </div>
    <div class="t-w-full md:t-row-span-2">
      <a class="popup-image" href="/img/imfine/gallery/bts-1.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/bts-1.jpg" alt="Behind the Scenes"/>
      </a>
    </div>
    <div class="t-w-full">
      <a class="popup-image" href="/img/imfine/gallery/mark-1.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/mark-1.jpg" alt="Ted and Tom"/>
      </a>
    </div>
    <div class="t-w-full">
      <a class="popup-image" href="/img/imfine/gallery/mike-1.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/mike-1.jpg" alt="Jordan"/>
      </a>
    </div>
    <div class="t-w-full md:t-col-span-2 md:t-row-span-2">
      <a class="popup-image" href="/img/imfine/gallery/adam-head.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/adam-head.jpg" alt="Adam"/>
      </a>
    </div>
    <div class="t-w-full">
      <a class="popup-image" href="/img/imfine/gallery/ted-tom-1.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/ted-tom-1.jpg" alt="Ted and Tom"/>
      </a>
    </div>
    <div class="t-w-full">
      <a class="popup-image" href="/img/imfine/gallery/ben-dog.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/ben-dog.jpg" alt="Ted and Tom"/>
      </a>
    </div>
    <div class="t-w-full md:t-hidden">
      <a class="popup-image" href="/img/imfine/gallery/jordan-action.jpg">
        <img class="hover:t-scale-105 t-border-gray-500/50 t-border t-border-solid" src="/img/imfine/gallery/jordan-action.jpg" alt="Jordan"/>
      </a>
    </div>
  </div>
</div>
</div>
</section>
<!-- Gallery End -->

