<!-- Slider -->
<section class="slider">
  <div class="slider--box">
    <div class="slider-active">
      <div class="single-slider slider--bg--h3 slider--height--h3 d-flex align-items-center"
      data-background="/img/imfine/rain.jpg" data-overlay="black-moju" data-opacity="5">
        <div class="container mt-16">
          <div class="row align-items-center">
            <div class="col-lg-4 d-none d-lg-block">
              <div class="flex justify-center">
                <img class="shadow-lg" src="/img/imfine/temp-poster.jpg" alt="Don't Worry, I'm Fine"/>
              </div>
            </div>
            <div class="col-lg-8 col-12">
              <div class="slider--caption--h3 text-center">
                <div class="slider--videos slider--videos--h3 mt-16" data-animation="fadeInDown" data-delay=".2s">
                  <div class="white-color fw-600 text-uppercase top-12 left-32 md:relative hidden">Watch Teaser</div>
                  <a class="popup-video" data-cancel href="#imfine-info">
                    <i class="fas fa-play"></i>
                  </a>
                </div>
                <div class="slider--text slider--text--h3">
                  <h2 data-animation="fadeInDown" data-delay=".4s" class="filter drop-shadow-lg mb-4">
                    <span class="imfine-font heavy text-yellow-600">Don't Worry,</span>
                    <span class="imfine-font text-white">I'm Fine</span>
                  </h2>
                  <div class="text-gray-50 font-serif mb-4" data-animation="fadeInDown" data-delay=".4s">
                  The long-lasting wounds of childhood sexual abuse are hard to heal,
                   no matter what your gender.
                   </div>
                  <h5 class="text-gray-50 font-serif " data-animation="fadeInDown" data-delay=".6s">
                  A Film by Shawn Wildermuth
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Slider End -->