<!-- Movie Details -->
<a name="imfine-info"></a>
<section class="movie--details pb-8 pt-32">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-8">
        <div class="movie--details--thumb position-relative mb-4">
          <img class="brightness-75" src="/img/imfine/rain-sm.jpg" alt="Don't Worry, I'm Fine">
          <div class="video--content video--content--two text-center">
            <a class="popup-video" href="https://www.youtube.com/watch?v=D8ovYru-GZM">
              <i class="fas fa-play"></i>
            </a>
            <div class="inline text-white uppercase ml-16">Watch Teaser</div>
          </div>
        </div>
        <div class="movie--details--title">
          <h2>Don't Worry, I'm Fine</h2>
        </div>
        {# <div class="movie--details--ratings mb-25">
          <ul>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <span>(5.5 Rating)</span></li>
          </ul>
        </div> #}
        <div class="movie--details--meta mb-8">
          <ul>
            {# <li>
              <i class="fas fa-clock"></i>Time 1 hr 18 Min</li> #}
            <li>
              <i class="fas fa-calendar"></i>Planned for 2022</li>
          </ul>
        </div>
        <div class="movie--details--text mb-8">
          <div  class="mb-25">

            <p>In this feature-length documentary, we will tell the stories of men who are healing from the scars of childhood sexual abuse. While the statistics are horrifying for both sexes, the media and society seem to treat boy victims different from girl victims and this film will shine a light on the disparity. Lives full of shame, lack of self-worth and body dysmorphia as well as an often-continual fight to believe they are man enough or macho in the face of hiding scars from their childhood. The fear of being seen as a potential perpetrator because of their sexual abuse is a real systemic problem for men recovering from childhood sexual abuse.</p>

            <p>While the film will talk to some experts, the film will focus on personal stories and how these brave men have lived through their trauma.</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-8">
        <div class="movie--details--sidebar">
          <div class="movie--details--widget mb-12">
            <div class="movie--details--info">
              <h2>Film Info</h2>
              <div class="single mb-8">
                <h4>Director/Producer/Writer</h4>
                <p>Shawn Wildermuth</p>
              </div>
              <div class="single mb-8">
                <h4>Editor</h4>
                <p>Randy Hill</p>
              </div>
              <div class="single mb-8">
                <h4>Music Supervisor/Executive Producer</h4>
                <p>Peggy Still Johnson</p>
              </div>
            </div>
          </div>
          {# <div class="movie--details--widget fix mb-12">
            <div class=""> 
              <h3>Gallery</h3>
              <ul class="flex flex-wrap">
                <li class="w-full sm:w-2/5 m-2">
                  <a href="/img/hwfilm/stills/Maria-Klawe-lt.png" class="popup-image"><img src="/img/hwfilm/stills/Maria-Klawe-lt.png" alt=""></a>
                </li>
                <li class="w-full sm:w-2/5 m-2">
                  <a href="/img/hwfilm/stills/Women-in-Tech.png" class="popup-image"><img src="/img/hwfilm/stills/Women-in-Tech.png" alt=""></a>
                </li>
                <li class="w-full sm:w-2/5 m-2">
                  <a href="/img/hwfilm/stills/Donovan-Brown-lt.png" class="popup-image"><img src="/img/hwfilm/stills/Donovan-Brown-lt.png" alt=""></a>
                </li>
                <li class="w-full sm:w-2/5 m-2">
                  <a href="/img/hwfilm/stills/shawn-at-work.png" class="popup-image"><img src="/img/hwfilm/stills/shawn-at-work.png" alt=""></a>
                </li>
              </ul>
            </div>
          </div> #}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Movie Details End -->