<!-- Video -->
<section class="video video--bg" data-background="/img/bg/video-bg.jpg" data-overlay="pure-black" data-opacity="4">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="video--content text-center">
          <a class="popup-video" href="https://www.youtube.com/watch?v=GPQh4iHjl5w">
            <i class="fas fa-play"></i>
          </a>
          <h2 class="white-color mb-0">Watch latest movie</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Video End -->