---
layout: base.njk
title: "Man Enough to Heal"
image: "/img/manenough/title.jpg"
---
{% include "manenough/hero.njk" %}
{% include "manenough/watch.njk" %}
{% include "manenough/screenings.njk" %}
{% include "manenough/info.njk" %}
{% include "manenough/media.njk" %}
{% include "manenough/cast.njk" %}
{% include "manenough/gallery.njk" %}
{% include "manenough/resources.njk" %}