<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}

    <!-- All Style Links Here -->
    <link rel="stylesheet" href="/lib/twain.libs.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <link rel="stylesheet" href="/css/site.min.css">
    <!-- All Style Links Here End -->
  </head>
  <body>

    {% include "header.njk" %}


    <!-- Main Wrapper -->
    <main class="main-wrapper block">
      {{ content | safe }}
    </main>
    <!-- Main Wrapper End -->

    {% include "footer.njk" %}

    <!-- Scroll Top Button -->
    <button class="scroll-top tran3s">
      <i class="fal fa-angle-up"></i>
    </button>

    {% include "js.njk" %}

  </body>
</html>