<!DOCTYPE html>
<html lang="en">
  <head>
     {% include "head.njk" %}
  </head>
  <body>

    <div id="prevent-flash" style="display: none;">
      {% include "header.njk" %}

      <!-- Main Wrapper -->
      <main class="main-wrapper t-block">
        {{ content | safe }}
        {% include "sponsors.njk" %}
        {% include "contact.njk" %}
      </main>
      <!-- Main Wrapper End -->

      {% include "footer.njk" %}

      <!-- Scroll Top Button -->
      <button class="scroll-top tran3s">
        <i class="fas fa-angle-up"></i>
      </button>

      {% include "js.njk" %}
    </div>
  </body>
  <script defer>
    document.getElementById("prevent-flash").style.display = "block";
  </script>
</html>