<!-- Slider -->
<section class="slider">
  <div class="slider--box">
    <div class="slider-active">
      <div class="single-slider slider--bg--h3 slider--height--h3 d-flex align-items-center"
      data-background="/img/pushingpaper/hero-back.jpg" data-overlay="black-moju" data-opacity="5">
        <div class="container t-mt-16">
          <div class="row align-items-center">
            <div class="col-lg-4 t-d-none t-d-lg-block">
              <div class="flex justify-center">
                <img class="t-shadow-lg border" src="/img/pushingpaper/pushingpaper-poster-sm.jpg" alt="Don't Worry, I'm Fine"/>
              </div>
            </div>
            <div class="col-lg-8 col-12">
              <div class="slider--caption--h3 text-center">
                <div class="slider--videos slider--videos--h3 t-mt-16" data-animation="fadeInDown" data-delay=".2s">
                  <div class="white-color fw-600 t-text-uppercase t-top-12 t-left-32 md:t-relative t-hidden">Watch Teaser</div>
                  <a class="popup-video" href="https://vimeo.com/751138258">
                    <i class="fas fa-play"></i>
                  </a>
                </div>
                <div class="slider--text slider--text--h3">
                  <h2 data-animation="fadeInDown" data-delay=".4s" class="filter drop-shadow-lg mb-4">
                    <span class="imfine-font heavy t-text-yellow-600">Pushing Paper</span><br/>
                  </h2>
                  <div class="t-text-gray-50 t-font-serif t-text-lg t-mb-4" data-animation="fadeInDown" data-delay=".4s">
                    A neighborhood bookstore survives for decades because of the support of the community and
                    a hero of an owner. This film shows how he and the bookstore survived
                    Amazon, Barnes and Noble, and the Pandemic.
                  </div>
                  <h5 class="t-text-gray-50 t-font-sans t-text-xl " data-animation="fadeInDown" data-delay=".6s">
                  A Film by Shawn Wildermuth
                  </h5>
                </div>
                  <div class="t-flex t-justify-center my-8 festival-list" data-animation="fadeInUp" data-delay="1.2s">
                    <a href="https://auff.org/2023-films"><img class="md:t-w-48" src="/img/pushingpaper/2023_AUFF_lauel_white.png" alt="Atlanta Underground Film Festival"/></a>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Slider End -->