<div class="hover:t-rotate-3 t-duration-100 hover:t-scale-105 t-transform col-12 col-sm-4 col-md-3 col-xl-2">
  {% if (platform.url) %}
    <a href="{{ platform.url}}">
    {% endif %}
    <img class="t-rounded t-mt-0" src="{{platform.img}}" alt="{{ platform.name }}"/>
    {% if (platform.url) %}
    </a>
  {% endif %}
  {% if (platform.releaseDate) %}
  <div class="t-text-center sm:t-text-xs  t-text-sm t-mb-2 t-text-slate-500 mt-1">{{ platform.releaseDate }}</div>
  {% endif %}
</div>