<!-- Movie Details -->
<a name="imfine-info"></a>
<section class="movie--details t-pb-8 t-pt-32">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-8">
        <div class="movie--details--thumb position-relative t-mb-4">
          <img class="t-brightness-[25%]" src="/img/manenough/poster-horizontal.jpg" alt="Man Enough to Heal">
          <div class="video--content video--content--two t-text-center">
            <a class="popup-video" href="https://www.youtube.com/watch?v=zjL3cS8SLxA">
              <i class="fas fa-play"></i>
            </a>
            <div class="t-inline t-text-white t-uppercase t-ml-16">Watch Trailer</div>
          </div>
        </div>
        <div class="movie--details--title">
          <h2>Man Enough to Heal</h2>
        </div>
        {# <div class="movie--details--ratings mb-25">
          <ul>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <span>(5.5 Rating)</span></li>
          </ul>
        </div> #}
        <div class="movie--details--meta t-mb-8">
          <ul>
            {# <li>
              <i class="fas fa-clock"></i>Time 1 hr 18 Min</li> #}
            <li>
              <i class="fas fa-calendar"></i>Coming in 2023</li>
          </ul>
        </div>
        <div class="movie--details--text t-mb-8">
          <div  class="mb-25">

            <p>In this feature-length documentary, we will tell the stories of men who are healing from the scars of childhood sexual abuse. While the statistics are horrifying for both sexes, the media and society seem to treat boy victims different from girl victims and this film will shine a light on the disparity. Lives full of shame, lack of self-worth and body dysmorphia as well as an often-continual fight to believe they are man enough or macho in the face of hiding scars from their childhood. The fear of being seen as a potential perpetrator because of their sexual abuse is a real systemic problem for men recovering from childhood sexual abuse.</p>

            <p>While the film will talk to some experts, the film will focus on personal stories and how these brave men have lived through their trauma.</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 t-mb-8">
        <div class="movie--details--sidebar">
          <div class="movie--details--widget t-mb-12">
            <div class="movie--details--info">
              <h2>Film Info</h2>
              <div class="single t-mb-8">
                <h4>Director/Producer/Writer</h4>
                <p>Shawn Wildermuth</p>
              </div>
              <div class="single t-mb-8">
                <h4>Editor</h4>
                <p>Randy Hill</p>
              </div>
              <div class="single t-mb-8">
                <h4>Music Supervisor/Executive Producer</h4>
                <p>Peggy Still Johnson</p>
              </div>
              <div class="single t-mb-8">
                <h4>Presented in Partnership with:</h4>
                <div class="t-flex t-flex-col t-justify-center t-w-full">
                  {% for partner in manenough.partners %}
                    <div class="t-self-center">
                      <a href="{{ partner.url }}" target="_blank"><img src="/img/manenough/partners/{{ partner.logo }}" alt="{{ partner.name }} Logo" class="t-max-w-[155px] t-mb-4"></a>
                    </div>
                  {% endfor %}
                </div>
              </div>

              <div class="single t-mb-8">
                <h5 class="t-text-orange-600 t-text-center">
                  <a href="/dls/manenough-one-pager.pdf">Download More Information</a>
                </h5>
              </div>
            </div>
          </div>
          {# <div class="movie--details--widget fix mb-12">
            <div class=""> 
              <h3>Gallery</h3>
              <ul class="flex flex-wrap">
                <li class="w-full sm:w-2/5 m-2">
                  <a href="/img/hwfilm/stills/Maria-Klawe-lt.png" class="popup-image"><img src="/img/hwfilm/stills/Maria-Klawe-lt.png" alt=""></a>
                </li>
                <li class="w-full sm:w-2/5 m-2">
                  <a href="/img/hwfilm/stills/Women-in-Tech.png" class="popup-image"><img src="/img/hwfilm/stills/Women-in-Tech.png" alt=""></a>
                </li>
                <li class="w-full sm:w-2/5 m-2">
                  <a href="/img/hwfilm/stills/Donovan-Brown-lt.png" class="popup-image"><img src="/img/hwfilm/stills/Donovan-Brown-lt.png" alt=""></a>
                </li>
                <li class="w-full sm:w-2/5 m-2">
                  <a href="/img/hwfilm/stills/shawn-at-work.png" class="popup-image"><img src="/img/hwfilm/stills/shawn-at-work.png" alt=""></a>
                </li>
              </ul>
            </div>
          </div> #}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Movie Details End -->