<h3>Presented in Partnership with:</h3>
<div class="row">
  {% for partner in manenough.partners %}
    <div class="col-lg-6 mb-50">
      <div class="feature--block--h3 d-flex">
        <div class="feature--icon--h3">
          <i>
            <a href="{{ partner.link}}">
              <img src="/img/manenough/partners/{{ partner.logo }}" alt="{{ partner.name }}" class="t-w-20 t-min-w-[5rem]"/>
            </a>
          </i>
        </div>
        <div class="feature--text--h3">
          <h4 class="feature--title t-text-orange-400">
            <a href="{{ partner.link}}">{{ partner.name }}</a>
          </h4>
          <p class="feature--text t-text-gray-400">{{ partner.blurb }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>