<!-- Core Feature -->
<a name="support"></a>
<section class="feature border-bottom pt-125 pb-65 position-relative t-bg-slate-900 t-text-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center mb-60">
        <div class="section-title">
          <span class="theme-color fw-700 text-uppercase">Are You One Of Us?</span>
          <h2 class="t-text-white">Need Support?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-50">
        <div class="feature--block--h3 d-flex">
          <div class="feature--icon--h3">
            <i>
              <a href="https://1in6.org">
                <img src="/img/imfine/orgs/1in6.png" alt="1in6.org" class="t-w-20 t-min-w-[5rem]"/>
              </a>
            </i>
          </div>
          <div class="feature--text--h3">
            <h4 class="feature--title t-text-orange-400"><a href="https://1in6.org">1 in 6</a></h4>
            <p class="feature--text t-text-white">Provides a range of services for men with histories of unwanted sexual experiences. Has a 24/7 helpline with trained professionals to help men.</p>
            <a class="read--more t-text-gray-400 hover:t-text-gray-50" href="https://1in6.org/helpline/">Contact Helpline</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-50">
        <div class="feature--block--h3 d-flex">
          <div class="feature--icon--h3">
            <i>
              <a href="https://www.d2l.org">
                <img src="/img/imfine/orgs/d2l.png" alt="Darkness Into Light" class="t-w-20 t-min-w-[5rem]"/>
              </a>
            </i>
          </div>
          <div class="feature--text--h3">
            <h4 class="feature--title t-text-orange-400"><a href="https://www.d2l.org">Darkness Into Light</a></h4>
            <p class="feature--text t-text-white">This organization combats childhood sexual abuse. They provide training and consulting for professionals.</p>
            <a class="read--more" href="https://www.d2l.org/our-work/">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-50">
        <div class="feature--block--h3 d-flex">
          <div class="feature--icon--h3">
            <i>
              <a href="https://www.snapnetwork.org">
                <img src="/img/imfine/orgs/snap.jpg" alt="SNAP Network" class="t-w-20 t-min-w-[5rem]"/>
              </a>
            </i>
          </div>
          <div class="feature--text--h3">
            <h4 class="feature--title t-text-orange-400"><a href="https://www.snapnetwork.org">SNAP</a></h4>
            <p class="feature--text t-text-white">Survivor Network of those Abused by Priests supplies a toll-free phone helpline for victims of clergy abuse.</p>
            <a class="read--more" href="https://www.snapnetwork.org/need_help_now">Phone Hotline</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-50">
        <div class="feature--block--h3 d-flex">
          <div class="feature--icon--h3">
            <i>
              <a href="https://menhealing.org">
                <img src="/img/imfine/orgs/menhealing.png" alt="Men Healing" class="t-w-20 t-min-w-[5rem]"/>
              </a>
            </i>
          </div>
          <div class="feature--text--h3">
            <h4 class="feature--title t-text-orange-400"><a href="https://menhealing.org">Men Healing</a></h4>
            <p class="feature--text t-text-white">Men Healing provides support to men healing from sexual abuse. They have a Men's Story Project where you can read about other men's stories.</p>
            <a class="read--more" href="https://menhealing.org/resources-for-survivors/mens-story-project/">Read Men's Stories</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-50">
        <div class="feature--block--h3 d-flex">
          <div class="feature--icon--h3">
            <i>
              <a href="https://malesurvivor.org/">
                <img src="/img/imfine/orgs/malesurvivor.jpg" alt="MaleSurvivor" class="t-w-20 t-min-w-[5rem]"/>
              </a>
            </i>
          </div>
          <div class="feature--text--h3">
            <h4 class="feature--title t-text-orange-400"><a href="https://malesurvivor.org/">MaleSurvivor</a></h4>
            <p class="feature--text t-text-white">MaleSurvivor provides a community for survivors including a really useful forum to discuss a variety of subjects important to men recovering from childhood sexual abuse.</p>
            <a class="read--more" href="https://malesurvivor.org/for-survivors/">Join the Forum</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-50">
        <div class="feature--block--h3 d-flex">
          <div class="feature--icon--h3">
            <i>
              <a href="https://rainn.org">
                <img src="/img/imfine/orgs/rainn.jpg" alt="RAINN" class="t-w-20 t-min-w-[5rem]"/>
              </a>
            </i>
          </div>
          <div class="feature--text--h3">
            <h4 class="feature--title t-text-orange-400"><a href="https://rainn.org">RAINN</a></h4>
            <p class="feature--text t-text-white">Rape, Abuse &amp; Incest National Network is 
              the nation's largest anti-sexual violence organization. Provides a chat hotline for victims.</p>
            <a class="read--more" href="https://hotline.rainn.org/online">Chat Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Core Feature End -->