{% macro platformWidget(platform) %}
  {% include "manenough/_platform-widget.njk" %}
{% endmacro %}

<a name="watch"></a>
<section class="faq t-pt-16 t-pb-8 t-bg-slate-300">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mb-30">
        <h2>How To Watch</h2>
        <p class="t-text-orange-600 t-text-2xl">Coming Soon!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="faq-wrapper">
          <div class="accordion">
            <div class="card">
              <div >
                <div class="card-body">
                  <div class="card-text">
                    <div class="row">
                      {% for item in filmplatforms.manenough %}
                        {{ platformWidget(item) }}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>