<div class="w-full sm:w-32  lg:w-48 px-2 my-2 hover:rotate-3 duration-100 hover:scale-105">
  <a href="{{ platform.url}}">
    <img class="" src="{{platform.img}}" alt="{{ platform.name }}"/>
  </a>
</div>