<div class="hover:rotate-3 duration-100 hover:scale-105 transform col-12 col-sm-4 col-md-3 col-xl-2">
  <a href="{{ platform.url}}">
    <img class="rounded my-16 sm:m-0" src="{{platform.img}}" alt="{{ platform.name }}"/>
  </a>
</div>