<!-- Slider -->
<section class="slider">
  <div class="slider--box">
    <div class="slider-active">
      <div class="single-slider slider--bg--h3 slider--height--h3 d-flex align-items-center"
            data-background="/img/hwfilm/hero-back.jpg" data-overlay="black-moju" data-opacity="5">
        <div class="container mt-16">
          <div class="row align-items-center">
            <div class="col-lg-4 d-none d-lg-block">
              <div class="flex justify-center">
                <img src="/img/hwfilm/poster-festivals.jpg" alt="Hello World"/>
              </div>
            </div>
            <div class="col-lg-8 col-12">
              <div class="slider--caption--h3 text-center">
                <div class="slider--videos slider--videos--h3 mt-16" data-animation="fadeInDown" data-delay=".2s">
                  <div class="white-color fw-600 text-uppercase relative top-12 left-32">Watch Trailer</div>
                  <a class="popup-video" data-cancel href="#hwfilm-info">
                    <i class="fas fa-play"></i>
                  </a>
                </div>
                <div class="slider--text slider--text--h3">
                  <h2 class="white-color hwfilm-font" data-animation="fadeInDown" data-delay=".4s">Hello World</h2>
                  <h3 class="white-color hwfilm-font" data-animation="fadeInDown" data-delay=".4s">Confronting Bias in Software Development</h3>
                  <h5 class="white-color hwfilm-font" data-animation="fadeInDown" data-delay=".6s">A Film by Shawn Wildermuth</h5>
                  <div class="row my-8 festival-list" data-animation="fadeInUp" data-delay="1.2s">
                    <img class="col-3" src="/img/hwfilm/fest-spotlight-sm.png" alt="Spotlight Documentary Film Awards"/>
                    <img class="col-3" src="/img/hwfilm/fest-raw-sm.png" alt="Raw Science Film Festival" >
                    <img class="col-3" src="/img/hwfilm/fest-freedom-sm.png" alt="Freedom Festival" >
                    <img class="col-3" src="/img/hwfilm/fest-socialjustice-sm.png" alt="Social Justice Film Festival">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Slider End -->