<!-- Movie Details -->
<a name="hwfilm-info"></a>
<section class="movie--details border-bottom pb-45 pt-130">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-30">
        <div class="movie--details--thumb position-relative mb-16">
          <img class="brightness-75" src="/img/hwfilm/info-poster.jpg" alt="Hello World Film">
          <div class="video--content video--content--two text-center">
            <a class="popup-video" href="https://www.youtube.com/watch?v=SjR24_UOOzE">
              <i class="fas fa-play"></i>
            </a>
          </div>
        </div>
        <div class="movie--details--title">
          <h2>Hello World</h2>
          <h4>Confronting Bias in Software Development</h4>
        </div>
        {# <div class="movie--details--ratings mb-25">
          <ul>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <span>(5.5 Rating)</span></li>
          </ul>
        </div> #}
        <div class="movie--details--meta mb-30">
          <ul>
            <li>
              <i class="fal fa-clock"></i>Time 1 hr 18 Min</li>
            <li>
              <i class="fal fa-calendar-alt"></i>15 Dec 2020</li>
          </ul>
        </div>
        <div class="movie--details--text mb-50">
          <div  class="mb-25">
            <p>Code is everywhere. Every phone call you make, every website you visit, and even every car you drive has software powering it. For many people, code looks like the falling letters in The Matrix or what they see on CSI. But it’s not that inscrutable. By demystifying the profession, the film encourages people from every background into joining this profession.</p>

            <p>The film delves into the history of software development that started as a woman-led industry but has evolved into a majority white male and Asian dominated industry. It tackles the tough topic of why women as well as black and latinx people don’t pursue software careers.</p>

            <p>The film aims to shine a light on how amazing a career in software can be. The reality is that now is a great time to diversity the ranks of software development, not just for the typical social reasons, but also because it makes better software and can be a generational change for many.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-30">
        <div class="movie--details--sidebar">
          <div class="movie--details--widget mb-40">
            <div class="movie--details--info">
              <h2>Film Info</h2>
              <div class="single mb-8">
                <h4>Director/Producer/Writer</h4>
                <p>Shawn Wildermuth</p>
              </div>
              <div class="single mb-8">
                <h4>Editor</h4>
                <p>Randy Hill</p>
              </div>
              <div class="single mb-8">
                <h4>Composer/Music Supervisor</h4>
                <p>Peggy Still Johnson</p>
              </div>
            </div>
          </div>
          <div class="movie--details--widget fix mb-40">
            <div class="movie--details--gallery fix">
              <h3>Gallery</h3>
              <ul>
                <li>
                  <a href="/img/hwfilm/stills/Maria-Klawe-lt.png" class="popup-image"><img src="/img/hwfilm/stills/Maria-Klawe-lt.png" alt=""></a>
                </li>
                <li>
                  <a href="/img/hwfilm/stills/Women-in-Tech.png" class="popup-image"><img src="/img/hwfilm/stills/Women-in-Tech.png" alt=""></a>
                </li>
                <li>
                  <a href="/img/hwfilm/stills/Donovan-Brown-lt.png" class="popup-image"><img src="/img/hwfilm/stills/Donovan-Brown-lt.png" alt=""></a>
                </li>
                <li>
                  <a href="/img/hwfilm/stills/shawn-at-work.png" class="popup-image"><img src="/img/hwfilm/stills/shawn-at-work.png" alt=""></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Movie Details End -->