<!-- Movie Details -->
<section class="movie--details border-bottom pb-45 pt-130" id="hwfilm-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-30">
        <div class="movie--details--thumb position-relative mb-40">
          <img src="/img/movie/movie-details-thumb.jpg" alt="">
          <div class="video--content video--content--two text-center">
            <a class="popup-video" href="https://www.youtube.com/watch?v=SjR24_UOOzE">
              <i class="fas fa-play"></i>
            </a>
          </div>
        </div>
        <div class="movie--details--title">
          <h2>Hello World</h2>
          <h4>Confronting Bias in Software Development</h4>
        </div>
        <div class="movie--details--ratings mb-25">
          <ul>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <i class="fas fa-star"></i>
            </li>
            <li>
              <span>(5.5 Rating)</span></li>
          </ul>
        </div>
        <div class="movie--details--meta mb-30">
          <ul>
            <li>
              <i class="fal fa-clock"></i>Time 2 hr 36 Min</li>
            <li>
              <i class="fal fa-calendar-alt"></i>25 Dec 2020</li>
            <li>
              <i class="fal fa-comment"></i>Comments (05)</li>
            <li>
              <i class="fal fa-heart"></i>(2k)</li>
          </ul>
        </div>
        <div class="movie--details--text mb-50">
          <p class="mb-25">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid ex ea commodi consequatur Quis autem vel eum iurreprehender qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui dolorem eum</p>
          <h2 class="mb-20">Films Story</h2>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia non numquam eius modi tempora incidunt </p>
          <div class="history--text">
            <ul>
              <li>Brighten Up Someone’s May (2020 Wallpapers Edition)</li>
              <li>Mirage JS Deep Dive: Understanding Mirage JS Models And Associations (Part 1)</li>
              <li>Join Our New Online Workshops On CSS, Accessibility, Performance, And UX</li>
              <li>Implementing Dark Mode In React Apps Using styled-components</li>
              <li>IWhy Collaborative Coding Is The Ultimate Career Hack</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-30">
        <div class="movie--details--sidebar">
          <div class="movie--details--widget mb-40">
            <div class="movie--details--info">
              <h2>Films Info</h2>
              <div class="single mb-25">
                <h4>Clients</h4>
                <p>Digital Studio</p>
              </div>
              <div class="single mb-25">
                <h4>Date</h4>
                <p>25 Dec 2020</p>
              </div>
              <div class="single mb-25">
                <h4>Director</h4>
                <p>Jhonathan Doe</p>
              </div>
              <div class="single">
                <h4>Actors</h4>
                <p>Michael M. Maggio</p>
              </div>
            </div>
          </div>
          <div class="movie--details--widget mb-40">
            <form action="#" class="movie--list--filter movie--list--filter--two">
              <div class="row">
                <div class="col-sm-12 mb-15">
                  <div class="movie--list--input position-relative">
                    <input class="datepicker" type="text" placeholder="Search date">
                    <button>
                      <i class="fal fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
                <div class="col-sm-12 mb-15">
                  <div class="movie--list--input position-relative">
                    <select name="cate" id="category">
                      <option value="1">Category</option>
                      <option value="2">English</option>
                      <option value="2">Bengali</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="movie--list--button position-relative">
                    <button class="btn btn--theme btn--line filter-btn">search now</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="movie--details--widget fix mb-40">
            <div class="movie--details--gallery fix">
              <h3>Gallery</h3>
              <ul>
                <li>
                  <a href="gallery-details.html"><img src="/img/movie/gallery-small-thumb-1.jpg" alt=""></a>
                </li>
                <li>
                  <a href="gallery-details.html"><img src="/img/movie/gallery-small-thumb-2.jpg" alt=""></a>
                </li>
                <li>
                  <a href="gallery-details.html"><img src="/img/movie/gallery-small-thumb-3.jpg" alt=""></a>
                </li>
                <li>
                  <a href="gallery-details.html"><img src="/img/movie/gallery-small-thumb-4.jpg" alt=""></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Movie Details End -->