<section class="bg-black mb-8 pt-8">
  <div class="container">
    <h2 class="text-gray-100 text-center">Organizations That Are Fighting the Good Fight</h2>
    <div class="row">
      <div class="col-md-3">
        <a href="https://www.blackgirlscode.com/"><img src="/img/hwfilm/partners/blackgirlscode.png" alt="Black Girls Code"
              class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a href="https://code.org/"><img src="/img/hwfilm/partners/codeorg.png" alt="Code.Org" class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a href="https://www.code2040.org/"><img src="/img/hwfilm/partners/code2040.png" alt="Code 2040"
              class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a href="https://codenation.org/"><img src="/img/hwfilm/partners/codenation.png" alt="CodeNation"
              class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a href="https://www.devcolor.org/"><img src="/img/hwfilm/partners/devcolor.png" alt="/dev/color"
              class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a href="https://girlswhocode.com/about-us"><img src="/img/hwfilm/partners/girlswhocode.png" alt="girls Who Code"
              class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a href="https://www.womenwhocode.com/"><img src="/img/hwfilm/partners/womenwhocode.png" alt="Women Who Code"
              class="img-responsive"></a>
      </div>
      <div class="col-md-3">
        <a href="https://www.womenintechnology.org/"><img src="/img/hwfilm/partners/womenintech.png" alt="Women in Tech"
              class="img-responsive"></a>
      </div>
    </div>

  </div>
  <!--End mc_embed_signup-->
</div>
<!--//container-->

</section>