<!-- Soundtrack -->
<a name="soundtrack"></a>
<section class="feature feature--bg py-16">
  <div class="transform -translate-y-32">
    <img src="/img/hwfilm/soundtrack/HW-Soundtrack-Cover.jpg" alt="Hello World Soundtrack" class="feature--shape feature--shape--two bounce-animate w-24 md:w-32 xl:w-60">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 text-center mb-32">
        <div class="section-title">
          <span class="theme-color fw-700 text-uppercase">the film soundtrack</span>
          <h2>Listen to the Soundtrack</h2>
          <p>            Available now, the soundtrack to the "Hello World" film is a collection of music and
            songs that were specifically written for the film. The composer, Peggy Still-Johnson,
            is an accomplished composer and musician. She and her team have put together a great
            set of music for the film.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-xl-3 col-md-4 mb-32 text-center">
        <div class="feature--wrapper">
          <a href="https://open.spotify.com/album/2bikFq3ZTP3FOtjfMxYzwq" target="_blank">
            <div class="feature--block feature--block--h2">
              <div class="feature--block--back">
              <i class="feature--icon feature--icon--h2 fab fa-spotify fa-4x"></i>
              </div>
              <h4 class="feature--title">Spotify</h4>
              <div class="read--more--plain">Listen Now</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-xl-3 col-md-4 mb-32 text-center">
        <div class="feature--wrapper">
          <a href="https://www.pandora.com/artist/various-artists/hello-world-original-film-soundtrack/ALbcx2Kz5qPk2wZ" target="_blank">
            <div class="feature--block feature--block--h2">
              <i class="feature--icon feature--icon--h2">
                <svg class="w-16 -mt-6" id="mdi-pandora" viewBox="0 0 24 24"><path d="M10,20A1,1 0 0,1 9,21H4V3H13.71A6.75,6.75 0 0,1 20.46,9.75C20.46,13.5 17.44,16.5 13.71,16.5H10V20Z"/></svg>
              </i>
              <h4 class="feature--title">Pandora</h4>
              <div class="read--more--plain">Listen Now</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-xl-3 col-md-4 mb-32 text-center">
        <div class="feature--wrapper">
          <a href="https://tidal.com/browse/album/192773078" target="_blank">
            <div class="feature--block feature--block--h2">
              <i class="feature--icon feature--icon--h2">
                <svg class="w-16 -mt-6 icon--svg--inverted--hover" viewBox="0 0 32 32">
                  <path d="M16.016 5.323l-5.339 5.339-5.339-5.339-5.339 5.339 5.339 5.339 5.339-5.339 5.339 5.339-5.339 5.339 5.339 5.339 5.339-5.339-5.339-5.339 5.339-5.339zM21.391 10.661l5.302-5.307 5.307 5.307-5.307 5.307z"/>
                </svg>

              </i>
              <h4 class="feature--title">Tidal</h4>
              <div class="read--more--plain">Listen Now</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-xl-3 col-md-4 mb-32 text-center">
        <div class="feature--wrapper">
          <a href="https://tidal.com/browse/album/192773078" target="_blank">
            <div class="feature--block feature--block--h2">
              <i class="feature--icon feature--icon--h2 fab fa-deezer fa-4x"></i>
              <h4 class="feature--title">Deezer</h4>
              <div class="read--more--plain">Listen Now</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-xl-3 col-md-4 mb-32 text-center">
        <div class="feature--wrapper">
          <a href="https://music.amazon.in/albums/B09BLLX72D"  target="_blank">
            <div class="feature--block feature--block--h2">
              <i class="feature--icon feature--icon--h2 fab fa-amazon  fa-4x"></i>
              <h4 class="feature--title">Amazon Music</h4>
              <div class="read--more--plain">Listen Now</div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-6 col-xl-3 col-md-4 mb-32 text-center">
        <div class="feature--wrapper">
          <a href="https://music.apple.com/us/album/hello-world-original-film-soundtrack/1579194900?uo=4&app=itunes" target="_blank">
            <div class="feature--block feature--block--h2">
              <i class="feature--icon feature--icon--h2 fab fa-apple fa-4x"></i>
              <h4 class="feature--title">Apply Music</h4>
              <div class="read--more--plain">Listen Now</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- Soundtrack End -->

