<!-- Team -->
<section class="t-mt-8" data-background="/img/team/team-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mb-55">
        <div class="section-title">
          <h2 class="t-text-gray-100 t-mt-8">The Team</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 offset-xl-2 col-xl-3 t-mb-8">
        <div class="team--block position-relative">
          <div class="team--thumb">
            <img src="/img/team/shawn-wildermuth-front.jpg" alt="Shawn Wildermuth">
          </div>
          <div class="team--content d-flex align-items-center justify-content-between">
            <div class="team--info">
              <h5 class="white-color">Shawn Wildermuth</h5>
              <span class="fw-600 white-color t-text-uppercase">Director/Producer</span>
            </div>
          </div>
        </div>
        <div class="team-bio">
          HELLO WORLD is Shawn's debut feature-length documentary. It's the perfect vehicle for him to tell the story of the world he's spent over thirty years in. He's been tinkering with computers and software since he got a Vic-20 back in the early '80s. He's authored eight books and innumerable articles on software development. You can reach him at his blog at wildermuth.com. He released his first short documentary about his neighborhood which you can see on YouTube.
        </div>
      </div>
      <div class="col-md-4 col-xl-3 t-mb-8">
        <div class="team--block position-relative">
          <div class="team--thumb">
            <img src="/img/team/randy-hill-front.jpg" alt="Randy Hill">
          </div>
          <div class="team--content d-flex align-items-center justify-content-between">
            <div class="team--info">
              <h5 class="white-color">Randy Hill</h5>
              <span class="fw-600 white-color t-text-uppercase">editor</span>
            </div>
          </div>
        </div>
        <div class="team-bio">
          Randy Hill is a editor and filmmaker whose career has spanned over 20 years. He produced his first feature while working on a degree in Film at Georgia State University. Since then, he has shot & edited features, narrative and documentary shorts and long-form documentary and reality television, including the Emmy-winning Public Television series, "Ecosense for Living".
        </div>
      </div>
      <div class="col-md-4 col-xl-3 t-mb-8">
        <div class="team--block position-relative">
          <div class="team--thumb">
            <img src="/img/team/peggy-johnson-front.jpg" alt="Peggy Still Johnson">
          </div>
          <div class="team--content d-flex align-items-center justify-content-between">
            <div class="team--info">
              <h5 class="white-color">Peggy Still Johnson</h5>
              <span class="fw-600 white-color t-text-uppercase">composer</span>
            </div>
          </div>
        </div>
        <div class="team-bio">
          Peggy Still Johnson is a film composer, performing artist, casting agent and coach, Peggy has worked on projects such as “Curious Case of Benjamin Button,” “Parental Guidance,” “Bessie”, “Requiem for Herstory,” “Sugar on the Tip of My Lips,” “America’s Got Talent,” to name a few and has worked with artists such as T Bone Burnett, John Mellencamp, MoNique, Mickey Thomas, Larkin Poe, Joe Gransden, Dean Roland of Collective Soul, Justin Guarino, Tuk Smith of The Biters, writer Stephen King and more.
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Team End -->