---
layout: base.njk
title: "Hello World: Confronting Bias in Software"
image: "/img/hwfilm/info-poster.jpg"
---
{% include "hwfilm/hero.njk" %}
{% include "hwfilm/info.njk" %}
{% include "hwfilm/watch.njk" %}
{% include "hwfilm/team.njk" %}
{% include "hwfilm/soundtrack.njk" %}
{% include "hwfilm/organizations.njk" %}
{% include "hwfilm/supporters.njk" %}
