---
layout: base.njk
title: "Don't Worry, I'm Fine"
image: "/img/imfine/shawn-title.jpg"
---
{% include "imfine/hero.njk" %}
{% include "imfine/info.njk" %}
{% include "imfine/gallery.njk" %}
{% include "imfine/resources.njk" %}
