<!-- Movie Details -->
<a name="imfine-info"></a>
<section class="movie--details t-pb-8 t-pt-32">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mb-8">
        <div class="movie--details--thumb position-relative t-mb-4">
          <img class="t-brightness-[25%]" src="/img/pushingpaper/hero-back.jpg" alt="Don't Worry, I'm Fine">
          <div class="video--content video--content--two t-text-center">
            <a class="popup-video" href="https://vimeo.com/751138258">
              <i class="fas fa-play"></i>
            </a>
            <div class="t-inline t-text-white t-uppercase t-ml-16">Watch Now</div>
          </div>
        </div>
        <div class="movie--details--title">
          <h2>Pushing Paper</h2>
        </div>
        <div class="movie--details--meta t-mb-8">
          <ul>
            <li>
              <i class="fas fa-clock"></i>Time: 11 Min</li>
            <li>
              <i class="fas fa-calendar"></i>(2022)</li>
          </ul>
        </div>
        <div class="movie--details--text t-mb-8">
          <div  class="mb-25">

            <p>In this short documentary, we tell the story of Frank Reiss, the owner of A Capella books in Atlanta. His story is one of survival through e-books, internet, Amazon and the Pandemic.</p>

          </div>
        </div>
      </div>
      <div class="col-lg-4 t-mb-8">
        <div class="movie--details--sidebar">
          <div class="movie--details--widget t-mb-12">
            <div class="movie--details--info">
              <h2>Film Info</h2>
              <div class="single t-mb-8">
                <h4>Director/Producer/Writer/Editor</h4>
                <p>Shawn Wildermuth</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Movie Details End -->